<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @milestone.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @milestone.desc %>
</p>

<p>
  <strong>Target date:</strong>
  <%= @milestone.target_date %>
</p>

<%= link_to 'Edit', edit_milestone_path(@milestone) %> |
<%= link_to 'Back', milestones_path %>
